# Core numerical and analysis tools
numpy
scipy
pandas
matplotlib

# Audio and feature extraction
librosa
soundfile

# Notebook workflow
jupyter
ipykernel

# Testing and utility
pytest
tqdm

# oltw
https://github.com/HMC-MIR/OnlineAlignment/releases/download/v0.1.5/online_alignment-0.1.5-py3-none-any.whl